<div  class="container" *ngIf="singleHouse">
    <div id="contain" class="row">
        <div class="col-md-4">Name:</div>
        <div class="col-md-8">{{singleHouse.name}}</div>
        <div class="col-md-4">Region:</div>
        <div class="col-md-8">{{singleHouse.region}}</div>
        <div class="col-md-4">CoatOfArms:</div>
        <div class="col-md-8">{{singleHouse.coatOfArms}}</div>
        <div class="col-md-4">Words:</div>
        <div class="col-md-8">{{singleHouse.words}}</div>
        <div class="col-md-4">Title:</div>
        <div class="col-md-8">{{singleHouse.titles}}</div>
        <div class="col-md-4">Seats:</div>
        <div class="col-md-8">{{singleHouse.seats}}</div>
        <div class="col-md-4">CurrentLord:</div>
        <div class="col-md-8">{{singleHouse.currentLord}}</div>
        <div class="col-md-4">Heir:</div>
        <div class="col-md-8">{{singleHouse.heir}}</div>
        <div class="col-md-4">Overload:</div>
        <div class="col-md-8">{{singleHouse.overload}}</div>
        <div class="col-md-4">Founded:</div>
        <div class="col-md-8">{{singleHouse.overload}}</div>
        <div class="col-md-4">Founder:</div>
        <div class="col-md-8">{{singleHouse.overload}}</div>
        <div class="col-md-4">Overload:</div>
        <div class="col-md-8">{{singleHouse.overload}}</div>
        <div class="col-md-4">Ancestral Weapons:</div>
        <div class="col-md-8">{{singleHouse.ancestralWeapons}}</div>
        <div class="col-md-4">CadetBranches:</div>
        <div class="col-md-8">{{singleHouse.cadetbranches}}</div>
        <div class="col-md-4">SwornMembers:</div>
        <div class="col-md-8">{{singleHouse.swornMembers}}</div>
                                                      

    </div>
</div>